#mycontainer
{
    min-height: 330px;
}

.navbar-header
{
    display: flex;
    width: 100%;
}

#imgtitle
{
    margin: auto;
}

.navbar-fixed-top 
{
    background-color: #e5e5e5;
}

.navbar-inverse .navbar-toggle
{
    border-color: #e5e5e5;
    background: #2e2e2e;
}

.navbar-inverse .navbar-toggle:hover
{
    background: #2e2e2e;
}

a.list-group-item
{
    color: #fff;
    background-color: #4b4c4c;
    border-color: #666;
	padding: 15px 20px;
}

a.list-group-item.active
{
    background-color: #2b2c2c;
    border-color: #666;
}

.jumbotron
{
    background-color: #fff;
    padding: 0px;
    text-align: justify;
    font-size: medium;
}

.jumbotron p
{
    font-size: medium;
}